
<ion-view class="feeds-categories-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title> <span>Fixtures</span> </ion-nav-title>
    <ion-content>
        
        <div class="marginbottom"></div>
        <div class="clearfix"></div>
        <div class="row "> 
            <div class="fixture">
            <div class="col-90" style="color:#fff;">asdfads</div>
            </div>


        </div>
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;    width: 90%;margin-top: 20px;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg .tg-9hbo{font-weight:bold;vertical-align:top; text-transform: capitalize;}
            .tg .tg-yw4l{vertical-align:top;text-transform: capitalize;}
        </style>
        <center>
            <table class="tg"  data-ng-init="data()">
                <tr  ng-repeat="(key, value) in data()">
                    <th class="tg-9hbo">{{ key}}</th>
                    <td class="tg-yw4l">{{value}}</td>
                </tr>
            </table>
        </center>
    </ion-content>
</ion-view>
