<ion-view class="feeds-categories-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title> <span>Dashboard</span> </ion-nav-title>
    <ion-content>
        <div class="row "> 

            <div class="dashboard_tabs">
                <div style="background-image: url(img/bg.png);background-size: cover;text-align: center;padding: 50px;">
                    <img src="img/logo.png" style="width: 60%;"/>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <a class=""  ui-sref="app.hire"> 
                            <span>

                                <h2 class="tabname">
                                    <img src="img/icons/hire.png"/> <br/>
                                    Hire
                                </h2>
                            </span>
                        </a>
                    </div>

                    <div class="col col-50">
                        <a class="" ui-sref="app.todaysmaches">          <span>


                                <h2 class="tabname"> 
                                    <img src="img/icons/work.png"/> <br/>
                                    Work
                                </h2>
                            </span> </a></div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <a class="#" ui-sref="app.upcommingmaches">           
                            <span> 
                                
                                <h2 class="tabname">
                                    <img src="img/icons/user.png"/> <br/>
                                    Profile
                                </h2>
                            </span> </a></div>
                    <div class="col col-50">
                        <a class="#" ui-sref="app.match">
                            <span>  
                                
                                <h2 class="tabname">
                                    <img src="img/icons/key.png"/> <br/>
                                    Change Password
                                </h2>
                            </span></a></div>
                </div>
                <!--div class="row">
                    <div class="col col-50">
                        <a class="#" ui-sref="app.result">
                            <span>  
                                <i class="icon ion-clipboard"></i>
                                <h2 class="tabname">Result</h2>
                            </span> </a> </div>
                    <div class="col col-50">
                        <a class="#" ui-sref="app.pointtable">   
                            <span>  
                                <i class="icon ion-ios-list-outline"></i>
                                <h2 class="tabname">Point Table</h2>
                            </span></a> </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <a class="#" ui-sref="app.attendance">   
                            <span> 
                                <i class="icon ion-compose"></i>
                                <h2 class="tabname">Attendance</h2>
                            </span> </a>
                    </div>

                    <div class="col col-50">
                        <a class="#" ui-sref="app.downloads">
                            <span>  
                                <i class="icon ion-android-download"></i>
                                <h2 class="tabname">Downloads</h2>
                            </span></a>
                    </div>
                </div-->
            </div>


        </div>
    </ion-content>
</ion-view>
