
<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title> <span>Team</span> </ion-nav-title>
  <ion-content>
  <div class="bar bar-header">
  <button class="button button-icon  ion-ios-arrow-left button-small"></button>
  <div class="h1 title">LEAGUE MATCH</div>
  <button class="button button-icon  ion-ios-arrow-right button-small"></button>
</div>
    <div class="row "> 
    <div class="fixture">
  
    <div class="fixture_wrapper">
    
     <h2>DELHI PUBLIC SCHOOl ghaziabad <br />
<span>V/S</span><br />
 Ryan public school delhi</h2>
 <div class="clearfix"></div>
 <div class="fixture_wrapper_table">
 <div class="rt btm">Venue : </div>
  <div class="btm">Delhi Public School</div>
   <div class="btm rt">Date :  </div>
    <div class="btm">01-Aug-2016 </div>
    <div class="rt btm">Match Time : </div>
    <div class="btm">10:00 AM</div>
       <div class="rt">Score Report</div>
          <div class="pad"><button class="button button-positive button-small">
  Upload
</button></div>
 </div>
    </div>
    <div class="fixture_wrapper">
    
     <h2>DELHI PUBLIC SCHOOl ghaziabad <br />
<span>V/S</span><br />
 Ryan public school delhi</h2>
 <div class="clearfix"></div>
 <div class="fixture_wrapper_table">
 <div class="rt btm">Venue : </div>
  <div class="btm">Delhi Public School</div>
   <div class="btm rt">Date :  </div>
    <div class="btm">01-Aug-2016 </div>
    <div class="rt btm">Match Time : </div>
    <div class="btm">10:00 AM</div>
       <div class="rt">Score Report</div>
          <div class="pad"><button class="button button-positive button-small">
  Upload
</button></div>
 </div>
    </div>
    <div class="fixture_wrapper">
    
     <h2>DELHI PUBLIC SCHOOl ghaziabad <br />
<span>V/S</span><br />
 Ryan public school delhi</h2>
 <div class="clearfix"></div>
 <div class="fixture_wrapper_table">
 <div class="rt btm">Venue : </div>
  <div class="btm">Delhi Public School</div>
   <div class="btm rt">Date :  </div>
    <div class="btm">01-Aug-2016 </div>
    <div class="rt btm">Match Time : </div>
    <div class="btm">10:00 AM</div>
       <div class="rt">Score Report</div>
          <div class="pad"><button class="button button-positive button-small">
  Upload
</button></div>
 </div>
    </div>
    <div class="fixture_wrapper">
    
     <h2>DELHI PUBLIC SCHOOl ghaziabad <br />
<span>V/S</span><br />
 Ryan public school delhi</h2>
 <div class="clearfix"></div>
 <div class="fixture_wrapper_table">
 <div class="rt btm">Venue : </div>
  <div class="btm">Delhi Public School</div>
   <div class="btm rt">Date :  </div>
    <div class="btm">01-Aug-2016 </div>
    <div class="rt btm">Match Time : </div>
    <div class="btm">10:00 AM</div>
       <div class="rt">Score Report</div>
          <div class="pad"><button class="button button-positive button-small">
  Upload
</button></div>
 </div>
    </div>
    
                </div>
                
                
    </div>
    <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;    width: 90%;margin-top: 20px;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg .tg-9hbo{font-weight:bold;vertical-align:top; text-transform: capitalize;}
            .tg .tg-yw4l{vertical-align:top;text-transform: capitalize;}
        </style>
    <center>
      <table class="tg"  data-ng-init="data()">
        <tr  ng-repeat="(key, value) in data()">
          <th class="tg-9hbo">{{ key }}</th>
          <td class="tg-yw4l">{{value}}</td>
        </tr>
      </table>
    </center>
  </ion-content>
</ion-view>
