
<ion-view class="feeds-categories-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title> <span>Fixtures</span>   <span class="col-10 icon ion-android-chat right-align manager_dash_noti" ></span><span class="manager_dash_noti_text">3</span></ion-nav-title>
   
    <ion-content>
        <div class="bar bar-header">
            <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back"></i> 
            <span class="back-text"></span></button>
            <div class="h1 title">LEAGUE MATCH</div>
            <button class="button button-icon  ion-ios-arrow-right button-small"></button>
        </div>
        <div class="marginbottom"></div>
        <div class="clearfix"></div>
        <div class="row "> 
            <div class="fixture">

                <div class="fixture_wrapper">

                    <h2>DELHI PUBLIC SCHOOl ghaziabad <br />
                        <span>V/S</span><br />
                        Ryan public school delhi</h2>
                    <div class="clearfix"></div>
                    <div class="fixture_wrapper_table">
                        <div class="btm">Venue : </div>
                        <div class="btm">Delhi Public School</div>
                        <div class="btm">Date :  </div>
                        <div class="btm">01-Aug-2016 </div>
                        <div class="btm">Match Time : </div>
                        <div class="btm">10:00 AM</div>
                      
                    </div>
                    
                       <div class="player_check"><h1>Player List</h1>  <h2 class="menu-text">
                       <ul><li><select class="sports_select">
      <option>Amit Kumar</option>
      <option selected>Pradeep Sharma</option>
      <option>Himanshu Bahuguna</option>
       <option>Sandeep Bisht</option>
       <option>Yogesh Gururani</option>
    </select></li>
    
    <li><select class="sports_select">
      <option>Amit Kumar</option>
      <option selected>Pradeep Sharma</option>
      <option>Himanshu Bahuguna</option>
       <option>Sandeep Bisht</option>
       <option>Yogesh Gururani</option>
    </select></li>
    
    <li><select class="sports_select">
      <option>Amit Kumar</option>
      <option selected>Pradeep Sharma</option>
      <option>Himanshu Bahuguna</option>
       <option>Sandeep Bisht</option>
       <option>Yogesh Gururani</option>
    </select></li>
     <li><select class="sports_select">
      <option>Amit Kumar</option>
      <option selected>Pradeep Sharma</option>
      <option>Himanshu Bahuguna</option>
       <option>Sandeep Bisht</option>
       <option>Yogesh Gururani</option>
    </select></li>
     <li><select class="sports_select">
      <option>Amit Kumar</option>
      <option selected>Pradeep Sharma</option>
      <option>Himanshu Bahuguna</option>
       <option>Sandeep Bisht</option>
       <option>Yogesh Gururani</option>
    </select></li>
     <li><select class="sports_select">
      <option>Amit Kumar</option>
      <option selected>Pradeep Sharma</option>
      <option>Himanshu Bahuguna</option>
       <option>Sandeep Bisht</option>
       <option>Yogesh Gururani</option>
    </select></li></ul>
    </h2></div>
    <div class="player_check_submit" >
    
    <button class="button button-block button-energized">Submit</button></div>
                </div>
                
                
                

            </div>


        </div>
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;    width: 90%;margin-top: 20px;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg .tg-9hbo{font-weight:bold;vertical-align:top; text-transform: capitalize;}
            .tg .tg-yw4l{vertical-align:top;text-transform: capitalize;}
        </style>
        <center>
            <table class="tg"  data-ng-init="data()">
                <tr  ng-repeat="(key, value) in data()">
                    <th class="tg-9hbo">{{ key}}</th>
                    <td class="tg-yw4l">{{value}}</td>
                </tr>
            </table>
        </center>
    </ion-content>
</ion-view>
