<ion-view class="login-view auth-view" cache-view="false">
    <ion-content >
        <div class="row" style="text-align: center; ">
            <div class="col col-center"> <img ng-src="img/logo.png" style=" width: 50%; ">
                <div class="card login-container" content-tabs tabsdata='tabsdata'>


                    <my-tabs>
                        <my-tab title="User Login"> 
                            <form name="login_form" class="" novalidate ng-cloak>
                                <div class="list"  style="    text-align: left;">

                                    <span style=" padding: 6px 0 5px 16px; ">Email</span>
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                                    </label>
                                    <span style=" padding: 6px 0 5px 16px; ">Password</span>
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required >
                                    </label>
                                    <button type="submit" class="button button-positive button-block" ng-click="doLogIn()" ng-disabled="(login_form.user_email.$invalid || login_form.user_password.$invalid)">
                                        PROCEED
                                    </button>

                                </div>
                            </form>
                        </my-tab>
                        <my-tab title="Register">
                            <form name="register_form" class="" novalidate ng-cloak>
                                <div class="list" style="    text-align: left;">
                                    <span style=" padding: 6px 0 5px 16px; ">Name*</span>                     
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="text" placeholder="Name" name="user_name" ng-model="register.user_name" required>
                                    </label>
                                    <span style=" padding: 6px 0 5px 16px; ">Email Address*</span>
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="email" placeholder="Email Address" name="user_email" ng-model="register.user_email" required>
                                    </label>
                                    <span style=" padding: 6px 0 5px 16px; ">Create a Password*</span>
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="password" placeholder="Create a Password" name="user_password" ng-model="register.user_password" required >
                                    </label>
                                    <span style=" padding: 6px 0 5px 16px; ">Cellphone Number</span>
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="number" placeholder="Cellphone Number" name="user_phone" ng-model="register.user_phone" required>
                                    </label>
                                    <span style=" padding: 6px 0 5px 16px; ">Emergency Contact Number</span>
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="number" placeholder="Emergency Contact Number " name="user_phone2" ng-model="register.user_phone2" required>
                                    </label>
                                    <span style=" padding: 6px 0 5px 16px; ">Date of Birth</span>
                                    <label class="item item-input" style=" margin-top: 5px; ">
                                        <input type="date" placeholder="Date of Birth" name="user_dob" ng-model="register.user_dob" required>
                                    </label>
                                    <button type="submit" class="button button-positive button-block" ng-click="doRegister()" ng-disabled="(register_form.user_name.$invalid ||register_form.user_email.$invalid || register_form.user_password.$invalid)">
                                        PROCEED
                                    </button>
                                </div>
                            </form>
                        </my-tab>
                    </my-tabs>
                    <div class="item item-body bottom-content">

                    </div>

                </div>
                <div class="alternative-actions" style="display: none;">
                    <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
                        Forgot Password?
                    </a>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
