<ion-view class="layouts-view" id="caregiver-form" style="background: #FFF !important;">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Details for Care Giver</span>
    </ion-nav-title>
    <ion-content>
	<ul class="list">
	  
	  <select style="width:98%; border:0px; padding-left:10px; height: 40px; background: #ff">
                    <option value="">Age of patient</option>
                    <option ng-repeat="i in [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]" value="{{i}}" >{{i}}</option>
                </select>

      <label class="item item-input item-floating-label">
        <span class="input-label">Medical condition of the patient</span>
        <input type="text" placeholder="Medical condition of the patient" name="user_name" ng-model="user.name" required>
      </label>
	  
      <label class="item item-input item-floating-label">
        <span class="input-label">Any Specific Instructions</span>
        <input type="text" placeholder="Any Specific Instructions" name="Specific" ng-model="Specific" required>
      </label>

      <div class="item item-input item-divider">Any Specific Certification Needed?</div>

            <div class="radio-box">
			<ion-radio ng-model="radioChoice" ng-value="'A'">Yes</ion-radio></div>
            <div class="radio-box">
			<ion-radio ng-model="radioChoice" ng-value="'B'">No</ion-radio></div>

      <label class="item item-input item-floating-label">
        <span class="input-label">Describe your requirement</span>
        <input type="text" placeholder="Describe your requirement" name="requirement" ng-model="requirement" required>
      </label>

      <div class="item item-input">Date and time for caregiver</div>

	  <div class="item">From </div>
      <label class="item item-stacked-label">
       <div class="radio-box"><input type="date"></div>
		<div class="radio-box"><input type="time"></div>
      </label>
	  
	  <div class="item">To </div>
     <label class="item item-stacked-label">
        <div class="radio-box"><input type="date"></div>
		 <div class="radio-box"><input type="time"></div>
      </label>


		 <div class="btn"><a class="login button button-block button-stable">
               SUBMIT
            </a>
			</div>
    </ul>

        <style>
      #caregiver-form .button.button-stable {
    border-color: #891e52;
    background-color: #891e52;
    color: #f7f7f7;
    margin-top: 10px;
    width: 100%;
    float: left;
    border-radius: 8px;
}

#caregiver-form .btn {
    width: 50%;
    margin: 0 auto;
}

#caregiver-form .radio-box{
 width:  50%;
  float:left;
}

#caregiver-form .radio-box-left{
 width:  50%;
  float:left;
}

        </style>


    </ion-content>


</ion-view>


